

body{
background-image: url("../imagenes/fondo.jpg");
background-attachment: fixed;
background-size: cover;
}
.contenedorinfo{
    padding: 40px;
    width: 30%;
    height: 70dvh;
    background-color: rgb(228, 227, 227);
    border-radius: 50px;
    -webkit-box-shadow: 9px 10px 37px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 37px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 37px 0px rgba(0,0,0,0.75);
    margin: 5% auto;
}
button{
    float: right;
}
.home{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
}